## Pair Programming Nulos

### Ejercicios gestión de nulos

1. Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

In [1]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [8]:
data = pd.read_csv("world-data-2023-leccion05.csv")

data.head(5)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent
0,Afghanistan,60.0,AF,58.1,652.23,323.0,32.49,93.0,Kabul,8.67,149.90,2.3,AFN,4.47,2.1,$0.70,NaN,104.0,9.7,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.4,0.28,38041754.00,48.9,9.3,71.4,11.12,9797273.00,NaN,NaN,Asia
1,Albania,105.0,AL,43.1,28.75,9.0,11.78,355.0,Tirana,4.54,119.05,1.4,ALL,1.62,28.1,$1.36,NaN,107.0,55.0,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.9,1.20,2854191.00,55.7,18.6,36.6,12.33,1747593.00,NaN,NaN,Europe
2,Algeria,18.0,DZ,17.4,2381741.00,317.0,24.28,213.0,Algiers,150.01,151.36,2.0,DZD,3.02,0.8,$0.28,NaN,109.9,51.4,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.1,1.72,43053054.00,41.2,37.2,66.1,11.70,31510100.00,NaN,NaN,Africa
3,Andorra,164.0,AD,40.0,468.00,NaN,7.20,376.0,Andorra la Vella,469.00,NaN,NaN,EUR,1.27,34.0,$1.51,NaN,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.4,3.33,77.14,NaN,NaN,NaN,NaN,67.87,NaN,NaN,Europe
4,Angola,26.0,AO,47.5,1246700.00,117.0,40.73,244.0,Luanda,34.69,261.73,17.1,AOA,5.52,46.3,$0.97,NaN,113.5,9.3,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.4,0.21,31825295.00,77.5,9.2,49.1,6.89,21061025.00,NaN,NaN,Africa

In [12]:
# Visualizamos sólo las columnas con valores nulos
data.isnull().sum()[data.isnull().sum() > 0]

abbreviation                              7
agricultural_land                         7
land_area                                 1
armed_forces_size                        24
birth_rate                                6
calling_code                              1
capital/major_city                        3
co2-emissions                             7
cpi                                      20
cpi_change                               16
currency-code                            15
fertility_rate                            7
forested_area                             7
gasoline_price                           20
gdp                                     195
gross_primary_education_enrollment        7
gross_tertiary_education_enrollment      12
infant_mortality                          6
largest_city                              6
life_expectancy                           8
maternal_mortality_ratio                 14
minimum_wage                             45
official_language                         5
out_of_pocket_health_expenditure          7
physicians_per_thousand                   7
population                                1
population_labor_force_participation     19
tax_revenue                              26
total_tax_rate                           12
unemployment_rate                        19
urban_population                          5
latitud                                 195
longitud                                195
dtype: int64

2. Selección de Método de Imputación: Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

3. Imputación de Valores Nulos: Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.

In [54]:
# Columna "abbreviation": método .fillna("Unknown"), porque no sigue ningún patrón.
data["abbreviation"] = data["abbreviation"].fillna("Unknown")

In [62]:
# Columna "agricultural_land": utilizamos IterativeImputer para que haga una estimación en base a las relaciones de los datos completos.
imputer = IterativeImputer(max_iter=10, random_state=42)

datos_imputados = imputer.fit_transform(data[["agricultural_land"]])

data[["agricultural_land"]] = datos_imputados

In [71]:
# Columna "land_area": método .fillna(median()), porque no sigue ningún patrón y así, le asignamos un valor numérico.
data["land_area"] = data["land_area"].fillna(data["land_area"].median())

In [91]:
data.sample(5)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent
54,Eritrea,35.0,ER,75.2,117.60,202.0,30.30,291.0,Asmara,711.00,NaN,NaN,ERN,4.06,14.9,$2.00,NaN,68.4,3.4,31.3,Asmara,65.9,480.0,NaN,Tigrinya,52.4,0.06,6333135.0,78.4,NaN,83.7,5.14,1149670.00,NaN,NaN,Africa
70,Guinea-Bissau,70.0,GW,58.0,36.12,4.0,35.13,245.0,Bissau,293.00,111.65,1.4,XOF,4.48,69.8,NaN,NaN,118.7,2.6,54.0,Bissau,58.0,667.0,$0.16,Portuguese,37.2,0.13,1920922.0,72.0,10.3,45.5,2.47,840.92,NaN,NaN,Africa
185,United Kingdom,281.0,GB,71.7,243.61,148.0,11.00,44.0,London,379.02,119.62,1.7,GBP,1.68,13.1,$1.46,NaN,101.2,60.0,3.6,London,81.3,7.0,$10.13,English,14.8,2.81,66834405.0,62.8,25.5,30.6,3.85,55908316.00,NaN,NaN,Europe
21,Bosnia and Herzegovina,64.0,BA,43.1,51.20,11.0,8.11,387.0,Sarajevo,21.85,104.90,0.6,BAM,1.27,42.7,$1.05,NaN,NaN,23.3,5.0,Tuzla Canton,77.3,10.0,$1.04,Bosnian,28.6,2.16,3301000.0,46.4,20.4,23.7,18.42,1605144.00,NaN,NaN,Europe
84,Jamaica,273.0,JM,41.0,10.99,4.0,16.10,1876.0,"Kingston, Jamaica",8.22,162.47,3.9,JMD,1.98,30.9,$1.11,NaN,91.0,27.1,12.4,"Kingston, Jamaica",74.4,80.0,$1.33,Jamaican English,23.7,1.31,2948279.0,66.0,26.8,35.1,8.00,1650594.00,NaN,NaN,North America

In [80]:
# Columna "armed_forces_size": utilizamos IterativeImputer para que haga una estimación en base a las relaciones de los datos completos.
imputer = IterativeImputer(max_iter=10, random_state=42)

datos_imputados = imputer.fit_transform(data[["armed_forces_size"]])

data[["armed_forces_size"]] = datos_imputados

In [92]:
# Columna "birth_rate": utilizamos IterativeImputer para que haga una estimación en base a las relaciones de los datos completos.
imputer = IterativeImputer(max_iter=10, random_state=42)

datos_imputados = imputer.fit_transform(data[["birth_rate"]])

data[["birth_rate"]] = datos_imputados

In [ ]:
# Columna "calling_code":

4. Informe: Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.

In [77]:
data[data['armed_forces_size'].isnull()]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent
3,Andorra,164.00,AD,40.000000,468.000,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,$1.51,NaN,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.4,3.33,77.14,NaN,NaN,NaN,NaN,67.87,NaN,NaN,Europe
38,Comoros,467.00,KM,71.500000,2.230,NaN,31.88,269.0,"Moroni, Comoros",202.0,103.62,-4.3,KMF,4.21,19.7,NaN,NaN,99.5,9.0,51.3,"Moroni, Comoros",64.1,273.0,$0.71,French,74.8,0.27,850.89,43.3,NaN,219.6,4.34,248.15,NaN,NaN,Africa
48,Dominica,96.00,DM,33.300000,751.000,NaN,12.00,1.0,Roseau,180.0,103.87,1.0,XCD,1.90,57.4,NaN,NaN,114.7,7.2,32.9,Roseau,76.6,NaN,$1.48,English,28.4,1.08,71.81,NaN,22.1,32.6,NaN,50.83,NaN,NaN,North America
56,Eswatini,67.00,Unknown,39.117553,17.360,NaN,NaN,268.0,Mbabane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mbabane,NaN,NaN,NaN,English,11.3,NaN,1093238.00,NaN,28.6,NaN,NaN,NaN,NaN,NaN,Africa
67,Grenada,331.00,GD,23.500000,349.000,NaN,16.47,1.0,"St. George's, Grenada",268.0,107.43,0.8,XCD,2.06,50.0,$1.12,NaN,106.9,104.6,13.7,"St. George's, Grenada",72.4,25.0,NaN,English,57.0,1.41,112.00,NaN,19.4,47.8,NaN,40.77,NaN,NaN,North America
73,Vatican City,2.00,Unknown,39.117553,0.000,NaN,NaN,379.0,Vatican City,NaN,NaN,NaN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italian,NaN,NaN,836.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe
89,Kiribati,147.00,KI,42.000000,811.000,NaN,27.89,686.0,South Tarawa,66.0,99.55,0.6,AUD,3.57,15.0,NaN,NaN,101.3,NaN,41.2,South Tarawa,68.1,92.0,NaN,English,0.2,0.20,117.61,NaN,22.0,32.7,NaN,64.49,NaN,NaN,Oceania
98,Liechtenstein,238.00,LI,32.200000,160.000,NaN,9.90,423.0,Vaduz,51.0,NaN,NaN,CHF,1.44,43.1,$1.74,NaN,104.7,35.6,NaN,Schaan,83.0,NaN,NaN,German,NaN,NaN,38.02,NaN,NaN,21.6,NaN,5.46,NaN,NaN,Europe
107,Marshall Islands,329.00,MH,63.900000,181.000,NaN,29.03,692.0,Majuro,143.0,NaN,NaN,USD,4.05,70.2,$1.44,NaN,84.7,23.7,27.4,Majuro,65.2,NaN,$2.00,Marshallese,10.0,0.42,58.79,NaN,17.8,65.9,NaN,45.51,NaN,NaN,Oceania
111,Federated States of Micronesia,784.00,FM,31.400000,702.000,NaN,22.82,691.0,Palikir,143.0,112.10,0.5,USD,3.05,91.9,NaN,NaN,97.2,14.1,25.6,Palikir,67.8,88.0,NaN,English,2.5,0.18,113.81,NaN,25.2,60.5,NaN,25.96,NaN,NaN,Oceania
113,Monaco,26.34,MC,39.117553,2.000,NaN,5.90,377.0,Monaco City,NaN,NaN,NaN,EUR,NaN,NaN,$2.00,NaN,NaN,NaN,2.6,Monaco City,NaN,NaN,$11.72,French,6.1,6.56,38.96,NaN,NaN,NaN,NaN,38.96,NaN,NaN,Europe
120,Nauru,541.00,NR,39.117553,21.000,NaN,NaN,674.0,Yaren District,NaN,NaN,NaN,AUD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,English,NaN,NaN,10.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania
128,North Macedonia,83.00,Unknown,39.117553,25.710,NaN,NaN,389.0,Skopje,NaN,NaN,NaN,MKD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Skopje,NaN,NaN,NaN,Macedonian,35.6,NaN,1836713.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe
132,Palau,39.00,PW,10.900000,459.000,NaN,14.00,680.0,Ngerulmud,224.0,118.17,1.3,USD,2.21,87.6,NaN,NaN,112.6,54.7,16.6,Koror,69.1,NaN,$3.00,English,21.8,1.18,18.23,NaN,21.3,76.6,NaN,14.49,NaN,NaN,Oceania
133,Palestine,847.00,Unknown,39.117553,239.785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arabic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia
145,Saint Kitts and Nevis,205.00,KN,23.100000,261.000,NaN,12.60,1.0,Basseterre,238.0,104.57,-1.0,XCD,2.11,42.3,NaN,NaN,108.7,86.7,9.8,Basseterre,71.3,NaN,$3.33,English,56.6,2.52,52.82,NaN,18.5,49.7,NaN,16.27,NaN,NaN,North America
146,Saint Lucia,301.00,LC,17.400000,616.000,NaN,12.00,1.0,Castries,414.0,110.13,1.9,XCD,1.44,33.2,$1.30,NaN,102.6,14.1,14.9,Castries,76.1,117.0,NaN,English,48.4,0.64,182.79,67.1,18.2,34.7,20.71,34.28,NaN,NaN,North America
147,Saint Vincent and the Grenadines,284.00,VC,25.600000,389.000,NaN,14.24,1.0,Kingstown,220.0,109.67,2.3,XCD,1.89,69.2,NaN,NaN,113.4,23.7,14.8,Calliaqua,72.4,68.0,$1.16,English,21.4,0.66,100.45,65.9,25.4,37.0,18.88,58.19,NaN,NaN,North America
148,Samoa,70.00,WS,12.400000,2.830,NaN,24.38,685.0,Apia,246.0,117.56,1.0,WST,3.88,60.4,$0.91,NaN,110.5,7.6,13.6,Apia,73.2,43.0,$0.78,Samoan,11.5,0.34,202.51,43.7,25.5,19.3,8.36,35.59,NaN,NaN,Oceania
149,San Marino,566.00,SM,16.700000,61.000,NaN,6.80,378.0,City of San Marino,NaN,110.63,1.0,EUR,1.26,0.0,NaN,NaN,108.1,42.5,1.7,City of San Marino,85.4,NaN,NaN,Italian,18.3,6.11,33.86,NaN,18.1,36.2,NaN,32.97,NaN,NaN,Europe
159,Solomon Islands,25.00,SB,3.900000,28.900,NaN,32.44,677.0,Honiara,169.0,133.06,1.6,SBD,4.40,77.9,NaN,NaN,106.2,NaN,17.1,Honiara,72.8,104.0,$0.40,English,3.3,0.19,669.82,83.8,29.5,32.0,0.58,162.16,NaN,NaN,Oceania
176,Tonga,147.00,TO,45.800000,747.000,NaN,24.30,676.0,Nuku����,128.0,121.09,7.4,TOP,3.56,12.5,NaN,NaN,116.3,6.4,13.4,Nuku����,70.8,52.0,NaN,Tongan Language,10.2,0.52,100.21,59.8,22.3,27.5,1.12,24.14,NaN,NaN,Oceania
181,Tuvalu,393.00,TV,60.000000,26.000,NaN,NaN,688.0,Funafuti,11.0,NaN,NaN,AUD,NaN,33.3,NaN,NaN,86.0,NaN,20.6,Singapore,NaN,NaN,NaN,Tuvaluan Language,0.7,0.92,11.65,NaN,NaN,NaN,NaN,7.36,NaN,NaN,Oceania
189,Vanuatu,25.00,VU,15.300000,12.190,NaN,29.60,678.0,Port Vila,147.0,117.13,2.8,VUV,3.78,36.1,$1.31,NaN,109.3,4.7,22.3,Port Vila,70.3,72.0,$1.56,French,8.9,0.17,299.88,69.9,17.8,8.5,4.39,76.15,NaN,NaN,Oceania